extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h1= title
        .w3-container
            table.w3-table-all
                tr
                    th ID Contrato
                    th Objeto
                    th Data Celebração
                    th Preço
                    th NIPC
                    th Entidade
                each c in contratos
                    tr
                        td
                            a(href='/contratos/'+c.idcontrato)= c.idcontrato
                        td= c.objectoContrato
                        td= c.dataCelebracaoContrato
                        td= c.precoContratual + "€"
                        td
                            a(href='/entidades/'+c.NIPC_entidade_comunicante)= c.NIPC_entidade_comunicante
                        td= c.entidade_comunicante
